@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
    margin-top: 80px;
}

.left-content {
    width: 50%;
    /* background-color: #fff; */
    border: 1px solid #fff;
    box-shadow: 0 3px 10px rgba(194, 194, 194, 0.801);
}

.right-content {
    width: 45%;
    height: 400px;
}

.right-content .top {
    height: 250px;
}

.right-content .bottom button {
    padding: 15px 25px;
}

.right-content h2 {
    text-align: left !important;
}

.cv-content h5 {
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}

.text-justify {
    text-align: justify !important;
}

.latar-belakang p {
    color: rgba(255, 255, 255, .9);
}

.lh-12 {
    line-height: 1.2;
}

.cv-content p {
    font-size: 10pt !important;
}

.cv-content small {
    font-size: 9pt !important;
}

.cv-content ul {
    margin-top: -15px;
}

.riwayat-pendidikan small {
    opacity: 0.9;
}

footer {
    margin-top: 50px;
    background-color: black;
    padding: 50px 15px;
}

footer small {
    opacity: .9;
}

a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer ul li {
    list-style: none;
    opacity: 0.8;
}

footer ul li:hover {
    opacity: 1;
    transition: all .5s;
}

footer ul li i:hover {
    margin-right: 5px;
}

footer ul li a:hover {
    text-decoration: none;
}

.copyright {
    margin-left: 40px;
    padding: 20px 0px;
}

.about {
    margin-top: 100px;
}

.about .row .col a i {
    color: white;
    font-size: 36pt;
}

.about .row .col a i:hover {
    color: #f0ad4e;
    font-size: 38pt;
    transition: all .5s;
}

.btn-purple {
    color: #fff;
    background-color: #8758FF !important;
}

.btn-purple:hover, .modal-body .btn-success:hover  {
    background-color: #FF731D !important;
    transition: all .5s;
}

.btn-orange {
    color: #fff;
    background-color: #FFAB4C;
}

.modal-body a {
    width: 150px;
    padding: 10px 0px;
    border: none;
}

